@model TheWall.Models.Message
<style>
    
        body{
            background-color: palegoldenrod;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: darkblue;
            margin: 15px;
        }
        button{
            background-color: palevioletred;
            padding: 10px;
        }
    

</style>

<head>
    <title> The Wall </title>
</head>

    <body>
        <form asp-controller="User" asp-action="Dashboard" method="GET"></form>
    <h2> Coding Dojo Wall </h2>
<p><a asp-controller="User" asp-action="Logout">Log out</a></p>

<h3>Welcome, @ViewBag.LoggedUser.FirstName!</h3>


<form asp-controller="User" asp-action="postamessage" method="POST">
    <legend>Post a message: </legend>
    <textarea asp-for="MessageText"></textarea>
    <button>Post a message : </button>
</form>

@foreach (var x in @ViewBag.AllMessages)
{
    <dt>@x.User.FirstName @x.User.LastName - @x.CreatedAt.ToString("MMMM d yyyy")</dt>
    <dd>@x.MessageText</dd>
    @foreach (var a in x.Comments)
    {
      <h5>@a.User.FirstName @a.User.LastName - @a.CreatedAt.ToString("MMM d yyyy")</h5>
      <h6>@a.CommentText</h6>
    }
    <form asp-controller="User" asp-action="postacomment" method="POST">
      <fieldset>
        <legend>Post a comment</legend>
        <textarea name="CommentText"></textarea>
        <input type="hidden" name="MessageId" value="@x.MessageId"/>
        <button>Post a comment</button>
      </fieldset>
    </form>
}



    </body>